# Propietarios por defecto
*                       @2k12

/backend/               @2k12
/frontend/              @2k12
/docs/                  @2k12
/.github/               @2k12
/backend/app/templates_builtin/  @2k12
