# Copie a .env y ajuste. Todas las variables usan el prefijo PDFMAP_.
PDFMAP_DATA_DIR=data
PDFMAP_MAX_UPLOAD_MB=2048
PDFMAP_CHUNK_SIZE_MB=8
# PDFMAP_API_KEY=cambie-esta-clave
PDFMAP_CORS_ORIGINS=["http://localhost:5173"]
PDFMAP_WORKERS=2
